/**
 * Icon Component Demo for tingle
 * @author fushan
 * 
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */
@require '../../src/Icon.styl';

.demo-grid-row {
  display: flex;
  .demo-grid-cell {
    flex: 1;
    text-align: center;
    svg {
      fill: lightblue;
    }
  }
}

.demo-icon-title {
  font-size: 16px;
  text-align: center;
  margin: 16px 0;
  color: #ccc;
}